.titleTrending {
  text-align: center;
  margin-bottom: 16px;
}

.listTrending {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.itemTrending {
  min-width: 185px;
  max-width: 185px;
  min-height: 300px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.itemTrending:hover {
  transform: scale(1.05);
}

.textTrending {
  padding: 8px 4px;
  text-align: center;
}
